/* This css style containe all feature page Styles*/

/* RESET CSS PART */ 
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, ol, ul, li, fieldset, form, label, button,input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	letter-spacing:0;
}
ol, ul {
	list-style: none;
}
a {
	border: none;
	text-decoration: none;
	color: #f1774a;
	
}
img {
	max-width: 100%;
}

body{
	font-family:"Open Sans",helvetica,Arial,sans-serif;
}


/* Header part START----*/
	p{
		color: #666;
		font-size: 14px;
		line-height: 24px;
	}
	.header{
		position: fixed;
		width: 100%;
		top: 0px;
		margin: 0 auto;
		//overflow: hidden;
		z-index: 100;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid #efefef\9;
		background:#fff;
	}
	.logo {
		float: left;
		min-height: 50px;
		min-width:180px;
		line-height: 50px;
		color: #333;
		font-size: 21px;
		font-weight: 600;
		margin-top: 10px;
		text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8);
		background:url(../images/workhtml.png) no-repeat;
		margin-left:20px;
		
	}
	
	.menu-list{
		float:right;
		padding:0 20px;
	}	
	.menu-list li{
		float:left;
		margin:0 12px;
	}
	.menu-list li a{	
		color: #333;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		padding:20px 0px;
		text-transform:uppercase;
		
	}	

.manu-part li.select a{
	color: #f1774a;
}	


/* DROPDOWN PART */

.dropdown{
	display: none;
    position: relative;
	float:right;
}

.dropdown span{
	background:#fff;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
	line-height:38px;
    padding: 0 3px 10px 15px;
    position: relative;
    width: 185px;
	z-index:1006;
	//border:1px solid #CCC;
	top:10px;
	margin-right:20px;
}

.dropdown img{
	position:absolute;
	right:0;
	opacity:0.65;
	padding:13px 12px 0 0;	
}
.items-container{
	position: absolute;
    top:18px;
	height:325px;
}

.items-container li{
	width:200px;
	border:1px solid #d2d2d2;
}

.dropdown ul li> a{
    color: #666;
    cursor: pointer;
    display: block;
	height:40px;
    line-height: 40px;
    padding: 0 0 0 20px;
	font-size:14px;
	font-weight:400;
	background:#fff;
} 

.dropdown ul li> a:hover{
    color: #f1774a;
} 

#dropdown-icon{
	position:absolute;
	right:0;
	top:0;
	opacity:0.7;
	padding:13px 12px 0 0;	
	width:15px;
}
#dropdown-icon li{
	height:2px;
	margin-bottom:2px;
	background:#a2a2a2;
}





	
/* Header part END----*/



/* This file contain Privacy and FAQ page style only */
#wh-privacy-policy, #wh-terms-conditions, #wh-faq,#aboutus{
	background:url(../images/pattern_bg.png) no-repeat center top; 
}

.section{
	max-width:820px;
	overflow:hidden;
	margin:0 auto;
	padding:40px 4% 60px ;
}
h1 {
	color: #333;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 42px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
	
	}
.main{
		margin-top:60px;	
	}
.discript,.faq-info{
	font-size:16px;
	color:#666;
	line-height:23px;
	margin:0 auto;
	text-align:center;
	max-width:1000px;
}
.faq-info{
	font-size:16px;
	color:#b8b8b8;
}
.question,.faq-categary li{
	padding:30px 0 10px 0;
	font-size:16px;
	color:#666;
	line-height:25px;
	font-weight:600;
}	
.faq-categary{
	overflow:hidden;
	margin:10px 0 30px 0;
	}
.faq-categary li{
	float:left;
	padding:10px 20px 0px 0px;
	text-transform:uppercase;
	
}
.cateSec{
	color: #333;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
	margin-top:30px;
}

.faq-categary-nav-text{
	position:fixed;
	margin:auto;
	top:0;
	bottom:0;
	height:110px;
	right:0;
	font-size:90px;
	font-weight:600;
	letter-spacing:.-15px;
    right: 65px;
    top: 0;
	left:0;
	width:300px;
	//text-transform:uppercase;
	
}

.faq-categary-nav-text li{
	opacity:0;
	visibility:hidden;
	transition:.4s ease;
	-moz-transition:.4s ease;
	-webkit-transition:.4s ease;
	-o-transition:.4s ease;
	-ms-transition:.4s ease;
	position:fixed;
	transform:scale(1.2);
	-moz-transform:scale(1.2);
		color:#f9ad91;

	
}

.faq-categary-nav-text li.navtext-selected{
	opacity:1;
	visibility:visible;
	transform:scale(1);
	-moz-transform:scale(1);
	
}
.faq-bodySection .section{
 padding-top:10px;
}
.blueBg{
	background:#fafafa;
}

/* Privacy Policy Style End */

	
	
	.pull-up-nav{																	/* pull up Effect*/
		  bottom: 0;
		height: 110px;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		position: fixed;
		right: 0;
		top: 0;
		width: 50px;
	}
	
	.pull-up-nav li{
		border:2px solid #e4e4e4;
		width:10px;
		height:10px;
		border-radius:100%;
		list-style:none;
		margin:10px;
		position:relative;
		
	}
	

	.pull-up-nav li a {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: none;
		border-radius: 50%;
		background-color:#909090;
		text-indent: -999em;
		cursor: pointer;
		position: absolute;
		transition: 0.3s ease;
		-webkit-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
		-o-transition: 0.3s ease;
	}
	
	.pull-up-nav li a::after{
	content: '';
	position: absolute;
	bottom: 0;
	height: 100%;
	left: 0;
	width: 100%;
	background-color: #e4e4e4;
	box-shadow: 0 0 1px #e4e4e4;
	-webkit-transition: height 0.3s ease;
	-moz-transition: height 0.3s ease;
	-ms-transition: height 0.3s ease;
	-o-transition: height 0.3s ease;
	transition: height 0.3s ease;
	border-radius:30%;

	}
	
	.pull-up-nav .pullup a::after{
		height: 0%;
	}







/* Footert part End */


.footer {
	background: none repeat scroll 0 0 #f1f1f1;
	border-top: 1px solid #e2e2e2;
}
.footer-links {
	border-bottom: 1px solid #E2E2E2;
	margin: 0 auto;
	max-width: 920px;
	overflow: hidden;
	padding: 40px 0;
}
.footer-links ul {
	float: left;
	overflow: hidden;
	width: 32%;
	padding-left:5%;
	padding-bottom: 0%;
}
.footer-links ul:nth-child(3) {
	float: left;
	overflow: hidden;
	width: 16%;
	padding-right:3%;
}
.footer-links li {
	color: #333;
	font-weight: 600;
	padding: 5px 0;
	line-height: 14px;
	font-size: 14px
}
.footer-links li:first-child {
	padding: 0 0 12px 0;
	text-transform: uppercase
}
.footer-links li a {
	color: #666;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px
}

.fb, .tw, .li, .go{
	background:url(../images/icon.png) no-repeat;
	height: 1px;
	padding: 5px 13px;
	width: 1px;
	margin-right:8px;
}
.fb{
	background-position: -542px -255px;
}
.tw{
	background-position: -542px -289px;
}
.li{
	background-position: -542px -323px;
}
.go{
	background-position: -542px -358px;
}

.licence{
	text-align:center;
	padding:15px;
	clear:both;
	max-width:980px;
	margin:0 auto;
	color: #A0A0A0;
	font-size: 13px;
}


/* FOOTER PART END */




/*Common Styles*/
.greyTxt {
    color: #BDBDBD;
}
.pt5{padding-top: 5px;}




/* Individual Blog Start */

.individual_blog{
    background: #FFFFFF;
    border: solid 1px #EBEBEB;
}

.individual_blog h3{
    text-transform :none;
    font-weight: bold;
    font-size: 20px;
    line-height:25px;
    color:#F1774A;
}

.individual_blog h3 a:hover{
    color:#F1774A;
}


.blog_content{
    padding: 35px 30px 0;
    font-weight: 300;
}

.blog_content p{
    text-align: justify;
    margin-bottom: 30px;
}

.blog_content img{
    
    margin-bottom: 30px;
}

.cmts_content{
    background: #FFFFFF;
    border: solid 1px #EBEBEB;
    margin-bottom: 25px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.cmts_inner{
    padding: 35px 20px 20px 20px;
    text-align: justify;
    font-weight: 300;
}

.cmt_head_msg{
    margin-left: 5px;
    margin-bottom: 20px;
}

.commenters_img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    float: left;
}

.commenters_msg {
    margin-left: 60px;
    margin-bottom: 35px;
}

.commenter_name{
    color: #F1774A;
}

.comment_date{
    margin-bottom: 5px;
}

.comment_form{
    background-color: #F2F2F2;
    overflow: hidden;
    padding: 40px 30px;
    width: 490px;
}
.comment_form h4{
    color: #000000;
    font-size: 19px;
    font-weight: 300;
    text-transform: none;
}

.comment_form_span{
    margin-top: 10px;
    margin-bottom: 30px;
}

}
label {
	position: absolute;
	top: 14px;
	left: 4px;
	color: #aaa;
	transition: all 0.2s;
	cursor: text;

	font-family: sans-serif;
	font-size: 16px;
	line-height:24px;
}
 input, textarea {
	height: 24px;
	padding: 2px;
	border: none;
	border-bottom: 1px solid #ccc;
	@include basefont;

	outline: none;
	width: 100%;
	background:#f2f2f2;
}

.input-container{
	margin: 0;
	margin-bottom: 5px;
	padding-top: 30px;
	position: relative;
}
input:focus, input.filled {

	border-bottom: 1px solid #aaa;

	font-size: 11px;
	top: 0px;
	color: #777;
}

.left {
	float:left;
}

/* WH Blog End */


/* about us  page design */
.aboutusContainer{
	max-width:980px;
}

.webd-feature,.aboutus{
	overflow:hidden;
	margin:50px auto 0;
}

.webd-feature li ,.aboutus li{
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	padding: 30px 4%;
	position: relative;
	text-align: left;

	width: 25%;
	 min-height: 250px;
	border-right: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
}
.aboutus{
	text-align:center;
	
}
.aboutus li{
	min-height:200px;
	padding:40px 4%;
	transition:.5s ease;
	-moz-transition:.5s ease;
}


.aboutus h3,.aboutus p{
	text-align:center;
}


.aboutus li.borderTop{
	border-top:2px solid #f2f2f2;
}
.aboutus li.noborderLeft{
	border-left:2px solid #f2f2f2;
}

.aboutus li#p7{
	margin-left: 33.2%;
	border-left: 2px solid #f2f2f2;
}

.webd-feature li span,.aboutus li span {
	  display: block;
    margin: 0 0 15px;
    min-height: 55px;
    min-width: 40px;
    opacity: 1;
}

.webd-feature li span ,.aboutus li span{
	background: url(../images/appu.png) #f1774a;
	background-repeat: no-repeat;
	display: inline-block;
	width:80px;
	height:80px;
	border-radius:50%;
}
.aboutus li span{
	width:120px;
	height:120px;
	background: url(../images/whoweare.png) no-repeat #fff;
	border:3px solid #f3f3f3;
	background-position:15px 20px;
	display: block;
	margin:0 auto 30px auto;
	
}
.aboutus .aboutHover:hover{
	background:#f1774a;
}
.aboutHover h3{
	font-size:16px;
	text-transform:uppercase;
	color:#f2783f;
	font-weight:600;
	text-align:center;
	padding-bottom:10px;
		
}

.aboutus .aboutHover:hover h3,.aboutus .aboutHover:hover p{
	color:#fff;
}


.aboutus li span.about-icon2{
	background-position: -85px 20px;
}
.aboutus li span.about-icon3{
	background-position: -180px 20px;
}
.aboutus li span.about-icon4{
	background-position: -280px 20px;
}
.aboutus li span.about-icon5{
	background-position: 10px -103px;
}
.aboutus li span.about-icon6{
	background-position: -93px -103px;
}
.aboutus li span.about-icon7{
	background-position: -188px -103px;
}
.aboutus li span.about-icon8{
	background-position: -284px -103px;
}

.aboutus li span.about-icon9{
	background-position: -94px -225px;
}

.aboutus li span.about-icon10{
	background-position: -204px -225px;
}


/* about us end */


/* Blog page design */
#wh-blog{
	min-width:1100px;
}

.wh-blog-holder{
	float:left;	
	width:64%;
}

.blog-contacts{
	width:23%;
	float:left;
	min-height:300px;
	margin-left:4%;
	background:#fff;
	border:1px solid #ebebeb;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	padding:40px;
}
.blog-container{
		min-height:300px;
	background:#fff;
	border:1px solid #ebebeb;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	
	margin-bottom:60px;
	padding:40px;
	overflow:hidden;
}

.wh-blog-part2{margin-top:30px;margin-bottom:20px;}
.wh-blog,.command-container,.whBlog-replay-container{
	padding:40px 40px 10px 40px;
	border-bottom:1px dashed #ebebeb;
	overflow:hidden;
}
.wh-blog{
	padding:0;
	padding-bottom:10px;
	}
.command-container,.whBlog-replay-container{
	border-bottom:1px solid #ebebeb;
	padding-bottom:40px;
}
.whBlog-replay-container{
	border-bottom:none;
	padding-bottom:0px;
}

.command-container{
	border-top:1px solid#efefef;
}
.wh-blog h3{
	font-size:20px;
	line-height:30px;
	font-weight:600;
	color:#f1774a;
}
.blog-details{
	margin-top:20px;
	
}
.by-container,.command-count-container{
	float:left;
	padding-top:15px;
	margin-left:20px;
	margin-right:50px;
}
.by-container,.name-date,.commant-describ{
	font-size:14px;
	color:#333;
	line-height:22px;
}
.name-date{
	color:#999;
}

.by-container,.comments{
	color:#333;
	float: none;
    margin-left: 80px;
	margin-bottom: 20px;
}
.by-container .by{
	color:#f1774a;
}
.person{
	width:48px;
	height:48px;
	border-radius:50%;
	overflow:hidden;
	float:left;

}


.wh-blog-part2 p{
	padding-bottom:20px;
	
}

.see-blog{
	color:#f1774a;
	text-decoration:underline;
}

.wh-blog-part2 img{
	margin-bottom:40px;
}

/* right section */

.blog-contacts h3,.whBlog-replay-container h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.social-links li a{
	width:37px;
	height:32px;
	background:url(../images/social-sprite.png) no-repeat ;
	background-position:-120px 0px;
	display:block;
}
.top-stories a{
	display:block;
}
.social-links li{
	float:left;
	width:37px;
	height:32px;
	margin-top:20px;
	margin-right:10px;
}
.social-links li a.bg-in{ 
	background-position:-160px 0px;
}
.social-links li a.bg-fb{ 
	background-position:-40px 0px;
}
.social-links li a.bg-gp{ 
	background-position:-80px 0px;
}

.wh-social-container,.wh-category-container{
	overflow:hidden;
	margin-bottom:40px;
}
.categories-cont li,.top-stories li{
	margin-top:15px;
	margin-right:10px;
	overflow:hidden;

}
.categories-cont li a,.top-stories li a{
	color:#333;
}
.categories-cont li a:hover,.top-stories li a:hover{
	color:#f1774a;
}
.top-stories .by-container{
	width:200px;
	margin-right:0;
	margin-top:0;
	padding-top:0;
}
.top-stories{
	margin-top:30px;
}

.command-container h4,.whBlog-replay-container h4{
	font-size:16px;
	font-weight:500;
	line-height:26px;
	text-transform:uppercase;
	color:#333;
	padding-bottom:30px;
}

.whBlog-replay-container h4{
	text-align:center;	
}
.whBlog-replay-container h3{
	text-align:center;
}
.whBlog-replay-container .name-date{
	padding-top:10px;
	text-align:center;
}


/* contact us form START */
.whcontactForm-content{
	background:#fff;
	padding:10px 40px 10px;
	max-width:770px;
	margin:30px auto 0;
	max-width:500px;

}
.cnt-head{
	text-transform:uppercase;
}
.whcontactForm-content input,.whcontactForm-content textarea{
    border: 1px solid #e1e1e1;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4px;
    outline: medium none;
    padding: 10px;
    width: 430px;
	margin:12px auto 20px;
	resize: none;
	border-radius:2px;
}
.wh-contactus{
	text-align:left;
	padding:0px 20px 0;
}
.wh-contactus .field{
	padding-left: 3%;
	color:#b0b0b0;
	font-size:14px;
}

input, textarea{
	background:#fff;
}
#wh-blog-forms textarea{
	height:100px;
}
/* Submit Button START*/	
	.viewMoreContect{
		background:#f76210;
		width:180px;
		margin:0 auto;
		margin-top:40px;
	}
	.viewMoreContect a{
		color: #fff;
		display: block;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		margin: 0 auto ;
		max-width: 130px;
		padding: 8px 10px;
		text-align: center;
		text-transform: uppercase;
	}
	
	
	
/* page nation */

.wh-blogTag{
	border-top:1px solid #ebebeb;
	padding-top:20px;
	margin-top:30px;
}

.wh-blogTag li,.wh-pagination li{
	float:left;
	margin: 20px 10px 0 0;
	
} 
.wh-blogTag li a,.wh-pagination li a{
	padding:5px 15px;
	border:1px solid #ebebeb;
	border-radius: 2px;
	color: #666;
    font-size: 14px;
    line-height: 24px;
}

.wh-blogTag li.selectBlog a,.wh-pagination li.selectBlog a{
	color:#fff;
	background:#f1774a;
}        			
.wh-pagination{
	margin: 0 auto;
    max-width: 430px;
	padding-bottom:100px;
}	

.wh-blogTag li a:hover,.wh-pagination li a:hover{
	color:#f1774a;
}
.wh-blogTag li.selectBlog a:hover,.wh-pagination li.selectBlog a{
	color:#fff;
}
	
	
/* Submit Button END */

/* contact us form END */



/* --------------------------------------Media query START---------------------------------------------------------------*/  

@media screen and (max-width:1200px) {
	#wh-blog {
    	min-width: 940px;
	}
	
	.whcontactForm-content{
		padding:10px 0 0;
		overflow:hidden;
	}
	
	.whcontactForm-content input, .whcontactForm-content textarea{
		width:90%;
	}
	
}

@media screen and (max-width:1024px) {
	#wh-blog {
    	min-width: 92%;
	}
	.wh-blog-holder {
    	width: 62%;
	}
}




@media screen and (max-width:880px) {
.section {
    max-width: 80%;
}

/* this is for aboutus */
.aboutus li{
	width:41%;
}

.aboutus li#p3{
	border-left: 2px solid #f2f2f2;
    border-right: 0 none;
    border-top: 0 none;
}
.aboutus li#p5{
	border-left: 2px solid #f2f2f2;
}
.aboutus li#p7{
	margin-left: 25%;
	border-left: 2px solid #f2f2f2;
}


/* blog section */
#wh-blog {
    min-width: 85%;
	
}
.wh-blog-holder {
    width: 100%;
}

.blog-contacts {
	margin:0 auto;
	float:none;
    width: 100%;
}


.topic-holder{
	width:100%;
	overflow:hidden;
	border-right:1px solid #ebebeb;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}


.top-stories .by-container {
	width:80%;
}
.top-stories li{
	padding:10px 0;
}

@media screen and (max-width:780px) {
h3,.cateSec {
    font-size: 24px;
	line-height: 32px;
}

h1 {
    font-size: 30px;
	line-height: 38px;
}

/* Blog section */
.blog-contacts{
	width:92%;
	
}

}
@media screen and (max-width:680px) {
/* footer section */
.footer-links ul:nth-child(2) {
    width: 30%;
}
.footer-links ul:nth-child(3) {
    width: 20%;
}

/* Blog section */
.whBlog-replay-container {
    padding:40px 0 0 0;
}

}

@media screen and (max-width:580px) {
h1 {
    font-size: 26px;
    line-height: 38px;
}

/* this is for aboutus */
.aboutus li{
    float: none;
    width: 91%;
}

.aboutus li#p2 {
    border-left: 2px solid #f2f2f2;
    border-top: none;
}
.aboutus li#p4 {
    border-right: 2px solid #f2f2f2;
}
.aboutus li#p6 {
    border-left: 2px solid #f2f2f2;
}

.aboutus li#p7 {
	margin-left:0;
} 

/*footer section */
	
.footer-links ul,.footer-links ul:nth-child(3){
	float: none;
	margin: 0 auto;
	width:100%;
	margin-bottom:40px;
	text-align:center;
	padding-left: 0%;
}
.footer-links ul:nth-child(3){
	margin-bottom:0px;
}
.footer-links ul:nth-child(2){
	width:100%;
}
.footer-links li {
    font-size: 14px;
	line-height: 22px;
	padding:2px 0;
}
.footer-links li a {
	font-size: 12px;
	line-height: 22px;
}

/* Blog section */

.wh-blog,.command-container,.whBlog-replay-container{
	padding:0;
}
.whBlog-replay-container{
	margin-top:10px;
}

.blog-container{
	padding:40px 20px;
}

.person {
	float:none;
	margin:0 auto;
}

.by-container, .comments {
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
}

.by-container{
	margin: 0 auto;
    width: 180px;
}

.command-container{
	border-top:1px solid #efefef;
	padding-top:30px;
	border-bottom:none;
}
.commond-gives{
	width:80%;
	margin-bottom:20px;
}

.command-container .related-con li{
	margin:20px 0;
	border-bottom:1px dashed #efefef;
	padding:20px;
	
}

.wh-blog h3 {
	font-size:16px;
	line-height:26px;
}


.top-stories .by-container{
	width:100%;
	margin-top: 20px;
    text-align: center;
}

.blog-contacts {
    width: 84%;
}

.blog-contacts h3, .whBlog-replay-container h3{
	text-align: center;
}

.categories-cont li, .top-stories li{
	margin-right:0;
	text-align:center;
}

.social-links{
	width:190px;
	margin:0 auto;
}

.wh-social-container, .wh-category-container{
	padding-bottom:40px;
	border-bottom:1px dashed #efefef;
}

#wh-blog {
	text-align:center;	
}

}

@media screen and (max-width:480px) {
.discript, .faq-info {
    font-size: 14px;
	line-height:22px;
}
.pull-up-nav {
	width: 35px;
}
p {
    font-size: 12px;
    line-height: 22px;
}
.question, .faq-categary li{
	font-size: 14px;
    line-height: 22px;
}

/* Blog section */

.by-container, .name-date, .commant-describ{
	font-size: 12px;
}

.blog-contacts {
    width: 81%;
}

.whcontactForm-content input, .whcontactForm-content textarea{
	padding:4px;
}
.wh-contactus .field{
	width:4%;
}

.categories-cont li, .top-stories li{
	font-size:12px;
	margin-top: 10px;
}
.blog-contacts h3, .whBlog-replay-container h3{
	font-size: 14px;
}

.viewMoreContect{
	width:130px;
}
.viewMoreContect a{
	font-size:12px;
	
}
.command-container .related-con li{
	padding:0;
}


}

@media screen and (max-width:320px) {
.blog-contacts {
    width: 71%;
}
.wh-contactus{
	padding: 0;
}
}

